<template name="loadingSearchResults">
  <div class="ui two column centered grid">
    <div class="row"></div>
    <div class="row">
      <div class="ui active inverted dimmer">
        <div class="ui primary text loader">Loading... Why not <b>donate</b> while you wait?</div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <a href="https://www.equaleducation.org.za/donate" target="_blank" class="ui button primary">Donate to Equal Education</a>
    </div>
  </div>
  <p></p>
</template>
