<template name="searchPage">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
            <div class="column">
        <h1 class="ui header">Search</h1>
{{>searchBar}}
</div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui secondary pointing  menu">
          <a class="item active" data-tab="all">
            All
          </a>
          <a class="item" data-tab="activities">
            Activities
          </a>
          <a class="item" data-tab="resources">
            Resources
          </a>
          <a class="item" data-tab="curricula">
            Curricula
          </a>
        </div>
         <div class="ui active tab segment" data-tab="all">
           {{#with tabData 'all'}}
             {{> Template.dynamic template="content" data=this}}
           {{/with}}          </div>
          <div class="ui tab segment" data-tab="activities">
            {{#with tabData 'activities'}}
              {{> Template.dynamic template="content" data=this}}
            {{/with}}          </div>
          <div class="ui tab segment" data-tab="curricula">
            {{#with tabData 'curricula'}}
              {{> Template.dynamic template="content" data=this}}
            {{/with}}          </div>
          <div class="ui tab segment" data-tab="resources">
            <div class="ui top attached tabular menu">
              <a class="item active" data-tab="allResources">All</a>
              <a class="item" data-tab="shortreading">Short Readings</a>
              <a class="item" data-tab="icebreaker">Icebreakers</a>
              <a class="item" data-tab="video">Videos</a>
              <a class="item" data-tab="book">Books</a>
              <a class="item" data-tab="other">Other</a>
            </div>
            {{#with tabData 'resources'}}
              {{> Template.dynamic template="content" data=this}}
            {{/with}}
          </div>
      </div>
    </div>
</div>
</template>
