<template name="searchResults">
  {{#if isLoading}}
    {{> loadingSearchResults}}
  {{else}}

  {{#with data}}
  <h4 class="page-header">{{contentDisplayName this.contentType}}
    {{#if isEqual this.numResults 0}}
    <span style="float:right;">No results</span>
    {{else}}
    <span style="float:left;">
      Showing results for "{{searchTerm}}" in &nbsp;
    </span>
    <span style="float:right;">
      Showing
      <select id="pageSize" class="ui dropdown pageSize">
        <option value="10" class="item" {{pageSizeIsEqualTo '10'}}>10</option>
        <option value="30" class="item" {{pageSizeIsEqualTo '30'}}>30</option>
        <option value="50" class="item" {{pageSizeIsEqualTo '50'}}>50</option>
        <option value="100" class="item" {{pageSizeIsEqualTo '100'}}>100</option>
        <option value="All" class="item"  {{pageSizeIsEqualTo 'All'}}>All</option>
      </select> per page. Items {{this.firstVisible}} to {{this.lastVisible}} of {{this.total}}
    </span>
    {{/if}}
  </h4>
  <div class="ui link items">
    {{#each this.items}}
      <div class="item">
        <div class="content">
          <div class="header">
            {{#with pathName this.itemType}}
              <a href="{{pathFor route=this _id=../_id}}" target="_blank"  id={{../_id}}>
                <div class="ui image">
                  {{#if isEqual ../itemType curriculumEnum}}
                    <i class="circular archive icon"></i>
                  {{/if}}
                  {{#if isEqual ../itemType activityEnum}}
                    <i class="folder open outline icon"></i>
                  {{/if}}
                  {{#if isEqual ../itemType resourceEnum}}
                    <i class="circular {{resourceIcon ../type}} icon"></i>
                  {{/if}}
                </div>
                {{#with itemTitle ..}}
                  <span>{{this}}</span>
                {{/with}}
              </a>
            {{/with}}
          </div>
          <div class="description">
          <p>{{this.details.description}}</p>
          </div>
          <div class="keywords">
            <div class="ui tag labels">
              {{#each this.details.keywords}}
                <a href="#" class="ui label">{{this}}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="item">
      </div>
    {{/each}}
  </div>
  <div class="ui borderless menu">
    {{#each pageArray this.numPages}}
    <a class="item pageNumber {{pageNumberIsEqualTo this}}">
      {{this}}
    </a>
    {{/each}}
  </div>
  {{/with}}
  {{/if}}
</template>
