<template name="create">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<h1 class="ui header">Create New Training Material</h1>
			</div>
		</div>
	</div>
	<div class="ui center aligned one column grid">
	  <div class="row">
	    <div class="column">
				<button class="massive ui button">
					<h2 class="ui header">
					  <i class="large icons">
					    <i class="calendar icon"></i>
					    <i class="inverted corner add icon"></i>
					  </i>
							Create Curriculum
						</h2>
				</button>
	    </div>
	  </div>
		<div class="row">
	    <div class="column">
				<button class="massive ui button">
					<h2 class="ui header">
					  <i class="large icons">
					    <i class="paint brush icon"></i>
					    <i class="inverted corner add icon"></i>
					  </i>
							Create Activity
						</h2>
				</button>
	    </div>
	  </div>
		<div class="row">
			<div class="column">
				<button class="massive ui button" id="createResourceButton">
					<h2 class="ui header">
						<i class="large icons">
							<i class="film icon"></i>
							<i class="inverted corner add icon"></i>
						</i>
							Create Resource
						</h2>
				</button>
			</div>
		</div>
	</div>


	<!-- <div class="ui inverted vertical pointing menu">
		<a class="item">
		    <h4 class="ui header yellow">Curricula</h4>
		    <p>A curriculum is a group of activities. Curricula are useful when running a camp.</p>
				<button id="createResourceButton" class="ui secondary button">
						Add New Resource
				</button>
		  </a>
		  <a class="item">
		    <h4 class="ui header yellow">Activities</h4>
		    <p></p>
		  </a>
		  <a class="item">
		    <h4 class="ui header yellow">Resources</h4>
		    <p>Visit our rebate forum for information on claiming rebates</p>
		  </a>
	</div> -->


	<div class="ui chooseType modal">
	  <i class="close icon"></i>
	  <div class="header">
	  	New Resource
	  </div>
		<div class="content">
			<form id="chooseTypeForm" class="ui form">
			  <div class="grouped fields">
			    <label>What type of resource would you like to upload?</label>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="example2" value="activity">
			        <label>Activity</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="shortReading">
			        <label>Short Reading</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="curriculum">
			        <label>Curriculum</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="book">
			        <label>Book</label>
			      </div>
			    </div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="example2" value="film">
							<label>Film</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="example2" value="other">
							<label>Other</label>
						</div>
					</div>
			  </div>
			</form>
		</div>
	  <div class="actions">
	    <div class="ui black deny button">
	      Cancel
	    </div>
	    <div id="next" class="ui positive right labeled icon button">
			Next
			<i class="right arrow icon"></i>
	    </div>
	  </div>
</div>

<div class="ui resourceDetails modal">
	<i class="close icon"></i>
	{{> Template.dynamic template=header}}
	<div class="content">
		<!-- <div class="content ui form"> -->
		<form id="resourceDetailsForm" class="ui form">
			{{> Template.dynamic template=content}}
		</form>
		{{> uploadFile}}
	</div>
	<div class="actions">
		<div id="back" class="ui black deny button">
			Back
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Save
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>
</template>
