<template name="create_resource">
    <i class="close icon"></i>
    <div class="header">
      New Resource
    </div>
    <div class="content">
      <form id="chooseTypeForm" class="ui form">
        <div class="grouped fields">
          <label>What type of resource would you like to upload?</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="example2" value="shortReading">
              <label>Short Reading</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="example2" value="book">
              <label>Book</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="example2" value="film">
              <label>Film</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="example2" value="icebreaker">
              <label>Icebreaker</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="example2" value="other">
              <label>Other</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div id="next" class="ui positive right labeled icon button">
      Next
      <i class="right arrow icon"></i>
      </div>
    </div>
	<i class="close icon"></i>
	{{> Template.dynamic template=header}}
	<div class="content">
		<!-- <div class="content ui form"> -->
		<form id="resourceDetailsForm" class="ui form">
      {{> commonFields}}
			{{> Template.dynamic template=content}}
		</form>
		{{> uploadFile}}
	</div>
	<div class="actions">
		<div id="back" class="ui black deny button">
			Back
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Save
		<i class="right arrow icon"></i>
		</div>
	</div>
</template>
