<template name="create_resource">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
      <div class="column">
        <div class="ui huge breadcrumb">
          <a href="/create" class="section">Create</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Resource</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>What type of resource would you like to upload?</label>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <!-- <a href="\create\resource\shortreading">Short Reading</a> -->
        <div class="ui fluid vertical menu">
          <a href="\create\resource\shortreading" class="item">
            <div class="ui teal label">{{totalNumberOfResourceType 'shortreading'}}</div>
            Short Reading
          </a>
          <a href="\create\resource\book" class="item">
            <div class="ui label">{{totalNumberOfResourceType 'book'}}</div>
            Book
          </a>
          <a href="\create\resource\video" class="item">
            <div class="ui label">{{totalNumberOfResourceType 'video'}}</div>
            Video
          </a>
          <a href="\create\resource\icebreaker" class="item">
            <div class="ui label">{{totalNumberOfResourceType 'icebreaker'}}</div>
            Icebreaker
          </a>
          <a href="\create\resource\other" class="item">
            <div class="ui label">{{totalNumberOfResourceType 'other'}}</div>
            Other
          </a>
        </div>
      </div>
    </div>
</div>
</template>

<template name="create_resource_type">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
      <div class="column">
        <div class="ui huge breadcrumb">
          <a href="/create" class="section">Create</a>
          <i class="right chevron icon divider"></i>
          <a href="/create/resource" class="section">Resource</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">{{this.pageTitle}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        {{> upsert_resource_type}}	
    	</div>
    </div>
</div>
</template>
