<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui grid">
          <div class="four wide column">
            <div class="row">
              <a href="/disclaimer">Disclaimer</a>
            </div>
          </div>
          <div class="eight wide column">
            <div class="row">
              <div id="copyright">site design © 2016 <a href="http://equaleducation.org.za">Equal Education</a></div>
              <div id="version">version {{versionNumber}}</div>
            </div>
          </div>
          <div class="four wide column">
          <div class="row">
            <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
