<template name="footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui grid">
          <div class="six wide column">
            <div class="row">
              <p style="font-size:small;">Equal Education is a not-for-profit organisation and all items available here are intended for educational purposes only. The inclusion of third party resources in this database is believed to be within fair use. If you think any items contained here is in violation of fair use, please contact us immediately so that the offending item may be removed.</p>
            </div>
          </div>
          <div class="five wide column">
            <div class="row">
              <div id="copyright">site design © 2016 <a href="http://equaleducation.org.za">Equal Education</a></div>
              <div id="version">version {{versionNumber}}</div>
            </div>
          </div>
          <div class="one wide column">
          <div class="row">
            <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
