<template name="landingPage">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
      <div class="column">
        <h1 class="ui header" align="center"><a href="http://equaleducation.org.za"><img src="/images/logo.png"></a></h1>
        <h2 class="ui header" align="center">Activities Database</h2>
        <form class = "landingSearch">
        {{>searchBar}}
        <input class="ui primary button" type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
</template>
