<template name="loading">
  <div class="ui container centered">
    <p></p>
    <p></p>
      <img class="ui small circular image centered" src="/images/stevebiko.jpg">
      <h5 class="ui center aligned header"><i>"The most potent weapon in the hands of the oppressor is the mind of the oppressed."</i> ~ Steve Biko</h5>
      <div class="ui segment">
        <div class="ui active inverted dimmer">
          <div class="ui medium text loader">Loading</div>
        </div>
        <p></p>
        <p></p>
      </div>
  </div>

</template>
