<template name="loading">
  <div class="ui container padded">
    <div class="ui centered grid">
      <div class="row">
        <!-- <div class="ui active centered inline loader"></div>Loading... -->
        Loading...
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <img class="ui small circular image centered" src="/images/stevebiko.jpg">
        </div>
      </div>
      <div class="row">
        <div class="three wide column">
          <!-- <img class="ui small circular image centered" src="/images/stevebiko.jpg"> -->
        </div>
        <div class="thirteen wide column">
          <p><i>"The most potent weapon in the hands of the oppressor is the mind of the oppressed."</i> ~ Steve Biko</p>
        </div>
      </div>
    </div>
  </div>
</template>
