body {
  background-color: #FFFFFF;
}

page {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  height: 100%;
  display: block;
}

/*
.ui.fixed.menu {
  background-color: @primaryColor;
  color: @primaryTextColor;
}*/
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
  margin-bottom: 7em;
}
.wireframe {
  /*margin-top: 2em;*/
}


.ui.fixed {
  position: absolute;
  bottom: 0;
  right: 0;
}
