<template name="main">
  <head>
    <title>Equal Eduation IETU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  </head>
  {{> navigationBar}}
  <page style="background-image: url(/images/background.jpeg); background-repeat: no-repeat; background-size: cover; background-attachment: scroll;background-color : lightGrey">
      <div class="ui main text container fluid " style="background-color: white; box-shadow:22px 23px 43px 0px rgba(0, 0, 0, 0.31);">
        {{> yield}}
      </div>
  </page>
  <!-- <div class="ui fixed right floated"> -->
    <div class="ui fixed icon primary button" id="feedback">
      <i class="comment icon"></i> Send us your feedback
    </div>
  <!-- </div> -->
  <div class="ui flowing popup top right" id="feedbackPopup">
    <form class="ui form" id="feedbackForm">
      <div class="field">
        <label>What would you like to tell us?</label>
        <textarea id="feedbackMessage"></textarea>
      </div>
      <div class="field">
        <label>Your E-mail address (optional)</label>
        <input type="text" id="feedbackEmail">
      </div>
      <button class="circular ui icon right floated button" id="sendFeedback">
        <i class="icon send"></i>
      </button>
    </form>
  </div>
  {{> footer}}
</template>
