<template name="navigationBar">
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" id="home" class="header item"><img class="logo" src="/images/icon.png">Equal Education</a>
      <a href="/about" id="about" class="item">About</a>
      <a href="/explore" id="explore" class="item">Explore</a>
      <a href="/search" id="search" class="item">Search</a>
      {{#if isInRole 'admin,editor'}}
        <a href="/create" id="create" class="item">Create</a>
      {{/if}}
      {{#if isInRole 'admin'}}
        <a href="/admin" id="admin" class="item">Admin</a>
      {{/if}}
      <a href="#" id="login" class="item right">{{> loginButtons}}</a>
    </div>
  </div>
</template>
