<template name="uploader">

  <div class="upload-area">
    <form id="upload">
      <p class="alert alert-success text-center">
        <span>Click or Drag a File Here to Upload</span>
        <input type="file" class="file_bag">
      </p>
      {{#with uploader}}
        {{print this}}
        {{> progressBar this}}
      {{/with}}
    </form>
  </div>
</template>

<template name="progressBar">
  <div class="ui two column centered grid">
    <div class="row">
      <div class="column">
        {{this.file.name}}
      </div>
      <div class="column">
        <div class="ui teal progress" id="example1">
          <div class="bar">
            <div class="progress">{{progress this.progress}}</div>
          </div>
          <div class="label">{{progress this.progress}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
