<template name="viewItem">
	<div class="ui container">
		{{> viewItemHeader item=this}}
    {{> viewItemContent item=this}}
			<div class="ui stackable padded grid">
			<div class="row">
				<div class="column">
		    	<a class="ui primary button" href="/search">Back</a>
					{{> html2docx selector="#wholeScreen" linkClass="ui primary button" filename=this.details.title }}
					{{#if currentUser}}
						{{#with editURL this}}
							<a class="ui primary button" href="{{this}}">Edit</a>
						{{/with}}
						<a class="ui primary button" id="deleteFile">Delete</a>
					{{/if}}
				</div>
		  </div>
		</div>


	<div class="ui basic test modal">
  <div class="header">
    Delete Item
  </div>
  <div class="image content">
    <div class="image">
      <i class="trash icon"></i>
    </div>
    <div class="description">
      <p>Are you sure you want to delete {{this.details.title}}?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button deny">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green basic inverted button approve">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
</div>
</template>
