<template name="viewItemContent">
  <div class="content">
    <table>
      <tr>
        <td class ="heading">Title</td>
        <td>{{item.details.title}}</td>
        {{#with file item.fileIDs}}
        <td>  <a class="ui primary button" id="downloadFile" href="{{this.url}}" target="_blank">
          Download
        </a></td>
        {{/with}}
      </tr>
      <tr>
        <td class ="heading">Main Topic</td>
        <td>{{item.details.mainTopic}}</td>
        <td>
          {{#if currentUser}}
          {{#with editURL item}}
          <a class="ui primary button" href="{{this}}">Edit</a>
          {{/with}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class ="heading">Sub Topic</td>
        <td>{{item.details.subTopic}}</td>
        <td><button class="ui primary button" id="deleteFile">
          Delete
        </button></td>
      </tr>
      <tr>
        <td class ="heading">Keywords</td>
        <td>{{item.details.keywords}}</td>
      </tr>
      <tr>
        <td class ="heading">Description</td>
        <td>{{item.details.description}}</td>
      </tr>
      <tr>
        <td class ="heading">Audience</td>
        <td>{{item.details.audience}}</td>
      </tr>
      <tr>
        <td class ="heading">Source</td>
        <td>{{item.details.source}}</td>
      </tr>

      {{#if isVideo item.type}}
      <tr>
        <td class ="heading">Director</td>
        <td>{{item.details.director}}</td>
      </tr>
      <tr>
        <td class ="heading">Year</td>
        <td>{{item.details.year}}</td>
      </tr>
      <tr>
        <td class ="heading">Duration</td>
        <td>{{item.details.duration}}</td>
      </tr>
      <tr>
        <td class ="heading">video Type</td>
        <td>{{item.details.videoType}}</td>
      </tr>
      <tr>
        <td class ="heading">Storage Location Online</td>
        <td>{{item.details.storageLocationOnline}}</td>
      </tr>
      <tr>
        <td class ="heading">Storage Location Offline</td>
        <td>{{item.details.storageLocationOffline}}</td>
      </tr>
      {{/if}}

      {{#if isActivity item.itemType}}
      <tr>
        <td class ="heading">Method</td>
        <td>{{item.details.method}}</td>
      </tr>
      {{/if}}

      {{#if isBook item.type}}
      <tr>
        <td class ="heading">Author</td>
        <td>{{item.details.author}}</td>
      </tr>
      <tr>
        <td class ="heading">Year</td>
        <td>{{item.details.year}}</td>
      </tr>
      <tr>
        <td class ="heading">Length</td>
        <td>{{item.details.length}}</td>
      </tr>
      {{/if}}

      {{#if isIcebreaker item.type}}
      <tr>
        <td class ="heading">Materials Needed</td>
        <td>{{item.details.materialsNeeded}}</td>
      </tr>
      {{/if}}
      <!-- Resource Download Section -->
      {{#if isResource item.itemType}}
      <tr>
        <td class ="heading">Download Resource</td>
        <td>
          {{#with file item.fileIDs item.details.title}}
                  <a class="ui icon" href="{{this.url}}" target="_blank">
          <i class="cloud download icon"></i>
        </a>
          {{/with}}
      </td>
    </tr>
    <tr>
      <td colspan="2" ><center><b>Associated Activities</b></center></td>
    </tr>
    {{#with associatedActivities item._id}}
    {{#each this}}
    <tr>
      {{#with pathName "Activity"}}
      <td colspan="2" ><center>        <a id="downloadGuide" href="{{pathFor route=this _id=../_id}}"  target="_blank">
        {{../details.title}}
      </a></center></td>{{/with}}
    </tr>
    {{/each}}
    {{/with}}
    {{/if}}
    <!-- Activity Download Section -->
    {{#if isActivity item.itemType}}
    <tr>
      <td colspan="2" ><center><b>Guide & Resource Download</b></center></td>
    </tr>
    {{#with file item.guideID}}
    <tr>
      <td colspan="2"> <center> <a class="ui primary button" id="downloadGuide" href="{{this.url}}" target="_blank">
        Download Guide
      </a></center></td>
    </tr>
    {{/with}}

    {{#each item.resourceIds}}
    {{#with resource this}}
    <tr>
      <td colspan="2"> <center>
        {{#with pathName this.itemType}}
        <a id="downloadGuide" href="{{pathFor route=this _id=../_id}}" target="_blank">
          {{../type}}: {{../details.title}}
        </a>
        {{/with}}
        {{#with file this.fileIDs this.details.title}}
        <a class="ui icon" href="{{this.url}}" target="_blank">
          <i class="cloud download icon"></i>
        </a>
        {{/with}}
      </center>
    </td>
  </tr>
  {{/with}}
  {{/each}}
  <tr>
      <td colspan="2" ><center><b>Associated Curricula</b></center></td>
    </tr>
    {{#with associatedCurricula item._id}}
    {{#each this}}
    <tr>
      {{#with pathName "Curriculum"}}
      <td colspan="2" ><center>        <a id="downloadGuide" href="{{pathFor route=this _id=../_id}}"  target="_blank">
        {{../details.title}}
      </a></center></td>{{/with}}
    </tr>
    {{/each}}
    {{/with}}
{{/if}}

    <!-- Curriculum Download Section -->
    {{#if isCurriculum item.itemType}}
    <tr>
      <td colspan="2" ><center><b>Linked Activities</b></center></td>
    </tr>

    {{#each item.activityIds}}
    {{#with activity this}}
    <tr>
      <td colspan="2"> <center>
        {{#with pathName this.itemType}}
        <a id="downloadGuide" href="{{pathFor route=this _id=../_id}}" target="_blank">
          {{../details.title}}
        </a>
        {{/with}}
      </center>
    </td>
  </tr>
  {{/with}}
  {{/each}}

{{/if}}


</table>
</div>
</template>
