table {
  margin: 0 auto;
}

.heading{
  font-weight: bold;
  text-align: right;
  padding-right: 12px;
}
tr {
    border-bottom: 20px solid;
    border-color: transparent;
}

.meta {
    margin: 0.5em 0em 0.5em;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.6);
}
