<template name="viewItem">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<h1 class="ui header">{{this.itemType}}</h1>
			</div>
		</div>
	</div>
	<div class="ui center aligned one column grid" id="wholeScreen">
	  <div class="row">
	    <div class="column">
        {{> viewItemContent item=this}}
	    </div>
	  </div>
    <div class="row">
      <div class="column">
        <!-- <a class="ui primary button" id="downloadPDF">Download PDF</a> -->
        {{> html2docx selector="#wholeScreen" linkClass="ui primary button" filename=this.details.title}}
      </div>
    </div>
		<div class="row">
	    <div class="column">
	    	<a class="ui primary button" href="/search">Back</a>
	    </div>
	  </div>
	</div>
	<div class="ui basic test modal">
  <div class="header">
    Delete Item
  </div>
  <div class="image content">
    <div class="image">
      <i class="trash icon"></i>
    </div>
    <div class="description">
      <p>Are you sure you want to delete {{this.details.title}}?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button deny">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green basic inverted button approve">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
</template>
