/*table {
  margin: 0 auto;
}*/
i.circular.icon.primary {
    /*box-shadow: 0em 0em 0em 0.1em #FCBC10 inset;*/
    color: #FCBC10;
    /*background-color: gray*/

}

.text-muted {
  color: #82888a;
}
.heading {
  text-align: left;
  padding-right: 12px;
}

.detail{
  font-weight: bold;
  text-align: left;
  padding-right: 12px;
}

tr {
    border-color: transparent;
}
td {
  padding-bottom: 20px !important;
}

.meta {
    margin: 0.5em 0em 0.5em;
    font-size: 1em;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.6);
}
