<template name="viewItemContent">
  <div class="content">
    <table>
      <tr>
        <td class ="heading">Title</td>
        <td>{{item.details.title}}</td>
        {{#with file item.fileIDs}}
        <td>  <a class="ui primary button" id="downloadFile" href="{{this.url}}" target="_blank">
        Download
        </a></td>
        {{/with}}
      </tr>
      <tr>
        <td class ="heading">Main Topic</td>
        <td>{{item.details.mainTopic}}</td>
        <td>
          {{#if currentUser}}
          {{#with editURL item}}
            <a class="ui primary button" href="{{this}}">Edit</a>
          {{/with}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td class ="heading">Sub Topic</td>
        <td>{{item.details.subTopic}}</td>
        <td><button class="ui primary button" id="deleteFile">
  Delete
</button></td>
      </tr>
      <tr>
        <td class ="heading">Keywords</td>
        <td>{{item.details.keywords}}</td>
      </tr>
      <tr>
      <td class ="heading">Description</td>
        <td>{{item.details.description}}</td>
      </tr>
      <tr>
      <td class ="heading">Duration</td>
        <td>{{item.details.duration}}</td>
      </tr>
      <tr>
      <td class ="heading">Method</td>
        <td>{{item.details.method}}</td>
      </tr>
      <tr>
      <td class ="heading">Audience</td>
        <td>{{item.details.audience}}</td>
      </tr>
      <tr>
      <td class ="heading">Source</td>
        <td>{{item.details.source}}</td>
      </tr>
      <tr>
      <td colspan="2" ><center><b>Guide & Resource Download</b></center></td>
      </tr>
      {{#with file item.guideID}}
      <tr>
        <td colspan="2"> <center> <a class="ui primary button" id="downloadGuide" href="{{this.url}}" target="_blank">
        Download Guide
        </a></center></td>
      </tr>
      {{/with}}

{{#each item.details.books}}
      {{#with resource this}}
        {{#with file this.fileIDs this.details.title}}
        <tr>
          <td colspan="2"> <center> <a class="ui primary button" id="downloadGuide" href="{{this.url}}" target="_blank">
          Download Book: {{this.itemname}}
          </a></center></td>
        </tr>
        {{/with}}
      {{/with}}
{{/each}}

{{#each item.details.films}}
      {{#with resource this}}
        {{#with file this.fileIDs this.details.title}}
        <tr>
          <td colspan="2"> <center> <a class="ui primary button" id="downloadGuide" href="{{this.url}}" target="_blank">
          Download Film: {{this.itemname}}
          </a></center></td>
        </tr>
        {{/with}}
      {{/with}}
    {{/each}}
    </table>
</div>
</template>
