<template name="about4">
  <h1>IETU Team</h1>
  <div class="ui items">
    <div class="item">
      <div class="ui small image">
        <img src="/images/gabriel.png">
      </div>
      <div class="content">
        <div class="header">Gabriel Nahmias</div>
        <div class="meta">
          <span class="position">Researcher and Content Developer</span>
        </div>
        <div class="description">
          <p>Gabriel was born and raised
in Atlanta, Georgia, USA. He
graduated with an MA in political
science and a BA in African Studies
from Emory University in 2013.
Gabriel joined EE as a Princeton in
Africa Fellow in the winter of 2014.
Along with his responsibilities as
a researcher for the Western Cape
office, Gabriel is a member of IETU 
and spearheaded the development of 
EE's Activities Database. </p>
        </div>
      </div>
    </div>
      <div class="item">
        <div class="ui small image">
          <img src="/images/carla.png">
        </div>
        <div class="content">
          <div class="header">Carla Goldstein</div>
          <div class="meta">
            <span class="position">Software Developer</span>
          </div>
          <div class="description">
            <p>Carla was born in Cape Town and
            completed an engineering degree
            at UCT. She worked for a software
            consulting company for three years
            before studying Industrial Design
            at CPUT. Carla joined EE in 2014
            and has worked on the website and
            helped create EE's first auditing
            app for monitoring Norms and
            Standards in schools. Carla is the 
            primary software developer of the 
            EE Activities database.</p>
          </div>
        </div>
      </div>
    </div>
</template>
