<template name="about1">
  <h1>About Equal Education</h1>
  <p>Equal Education (EE) is a democratic movement of learners, parents and community members working for quality and equality in South African education, through analysis and activism.</p>
  <p>At its core, Equal Education mobilises young activists who organise themselves in schools across South Africa. EE members build links between ideas for social change, an unequal education system, and the complexity of the world under globalised capitalism and South Africa’s place in it. Armed with this knowledge they organise in their communities and schools, and find alternate ways to participate in the democratic system and bring change to education and society – through EE.</p>
  <h2>IETU</h2>
  <p>EE established its Internal Education and Training Unit (IETU) in 2014, reflecting the need for a centralised hub of popular and radical educational content which would support EE’s youth and organising work across the country. IETU is a play on the Xhosa word “eyethu”, meaning “ours” and reflects the ideal of a collective ownership of knowledge production. IETU’s mandate is to create and consolidate popular education and training material. This database is a project of IETU.</p>
  <h1 class="ui header" align="center"><a href="http://equaleducation.org.za"><img src="/images/logo.png"></a></h1>
</template>
