<template name="about5">
  <h1>Contact the IETU Team</h1>
  <p>The activities database will continue to evolve as the IETU team works to improve its interface and as more resources are developed. If you have an activity or resource that you think should be part of the database, or you have an idea on how the online interface could be improved, please share them with the IETU team by sending an email to
    <a href="mailto:activities@equaleducation.org.za" target="_top">activities@equaleducation.org.za</a> </p>
</template>
