<template name="viewItem">
	<div class="ui container" id="wholeScreen">
		{{> viewItemHeader item=this}}
    {{> viewItemContent item=this}}
		<div class="ui stackable padded grid">
			<div class="row">
				<div class="column">
						<a class="ui basic button" href="/search">Back</a>
					{{> html2docx selector="#wholeScreen" linkClass="ui primary button" filename=this.details.title }}
						<a class="ui primary download button" id="downloadAll">Download Activity Pack</a>
						<div class="ui custom popup">
							The Activity Pack includes the guide, resources and all files attachments.
						</div>
					{{#if isInRole 'admin,editor'}}
						{{#with editURL this}}
							<a class="ui primary button" id="editButton" href="{{this}}">Edit</a>
						{{/with}}
							<a class="ui primary button" id="deleteButton">Delete</a>
				{{/if}}
				</div>
			</div>
		</div>


	<div class="ui basic test modal">
	  <div class="header">
	    Delete Item
	  </div>
	  <div class="image content">
	    <div class="image">
	      <i class="trash icon"></i>
	    </div>
	    <div class="description">
	      <p>Are you sure you want to delete {{this.details.title}}?</p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="two fluid ui inverted buttons">
	      <div class="ui red basic inverted button deny">
	        <i class="remove icon"></i>
	        No
	      </div>
	      <div class="ui green basic inverted button approve">
	        <i class="checkmark icon"></i>
	        Yes
	      </div>
	    </div>
	  </div>
	</div>
	<div class="ui basic downloadZip modal">
		<div class="header">
			Generating Zip File
		</div>
		<div class="image content">
			<!-- <div class="ui segment">
			  <p></p>
			</div> -->

			<div class="image">
				<i class="download icon"></i>
				<div class="ui active loader"></div>
			</div>
			<div class="description">
				<p>Please wait...</p>
			</div>
		</div>
		<div class="actions">
			<div class="two fluid ui inverted buttons">
				<div class="ui red basic inverted button deny">
					<i class="remove icon"></i>
					Cancel
				</div>
			</div>
		</div>
	</div>
</div>
</template>
