<!-- <template name="uploadFile">
	<div class="ui equal width padded grid">
		{{#if isEqual this.fileType 'guide'}}
			<h3>Upload Guide</h3>
			<div class="row">
					<input type="file" class="ui button file_bag">
					<button class="ui button primary upload">Upload</button>
			</div>
			{{else}}
			<h3>Upload Files</h3>
			<div class="row">
					<input type="file" class="ui button file_bag" multiple>
					<button class="ui button primary upload">Upload</button>
			</div>
		{{/if}}
		{{#each files}}
			{{initializeBarAtIndex @index percent_uploaded}}
				<div class="row">
					<div class="column right align">
						<p>{{this.file.original_name}}</p>
					</div>
					<div class="column">
						<div class="ui teal progress" id="progressBar_{{@index}}">
						  <div class="bar"></div>
						  <div class="label">{{percent_uploaded}}% Uploaded</div>
						</div>
					</div>
					{{#if isEqual percent_uploaded 100}}
						<div class="column">
							<button class="ui tiny button primary delete">Delete</button>
						</div>
						{{else}}
						<div class="column">
							<button class="ui tiny button primary cancel">Cancel</button>
						</div>
					{{/if}}

				</div>
		{{/each}}
	</div>
</template> -->
