
<template name="admin">
  <div class="ui stackable padded grid" style="background-color:#f5f5f5; border-top: 1px solid rgba(34, 36, 38, 0.15); border-bottom: 1px solid rgba(34, 36, 38, 0.15);">
    <div class="row">
      <div class="column">
        <h2><i class="settings icon large"></i>Hello Admin! What would you like to do?</h2>
      </div>
    </div>
    <div class="row">
      <div class="three wide column">
        <!-- menu -->
        {{> adminMenu}}
      </div>
      <div class="thirteen wide column">
        <!-- content -->
        {{> Template.dynamic template=adminPage}}
      </div>
    </div>
</div>
</template>
