<template name="upsert_activity">
  <form id="activityDetailsForm" class="ui form">
    {{> content_activity activity=this}}
    <div class="ui error message">
			<div class="header">Failed</div>
			<p>Your activity is missing some information. Please check.</p>
		</div>
    <div id="save" class="ui blue submit right labeled icon button">Save<i class="right arrow icon"></i></div>
    <a href="/create" class="ui black deny button">Cancel</a>
  </form>
</template>

<template name="content_activity">
	{{> commonFields activity.details}}
  <div class="grouped fields">
    <label>Complexity</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Easy">
        <label>Easy</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Medium">
        <label>Medium</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Hard">
        <label>Hard</label>
      </div>
    </div>
  </div>
	{{> methodField activity}}
  <div class="field">
    <label>Duration (minutes)</label>
    <input type="number" name="duration">
  </div>
	{{> connectResources activity}}
  <div class="field">
    {{> uploadFile fileIDs = activity.guideID fileType = 'guide'}}
  </div>
</template>
