<template name="activityDetail">
  <div class="ui activitydetail modal">
  <div class="header">

    {{activity.name}}
  </div>
  <div class="content">
  <div class="ui form">
  <div class="field">
    <label>Description</label>
    <input type="text" placeholder="Description" name="description" value = "{{activity.description}}">
  </div>
  <div class="field">
    <label>Keywords</label>
    <input type="text" placeholder="Keywords" name="keywords" value = "{{activity.keywords}}">
  </div>
  <div class="ui error message"></div>
    <div class="field">
    <label>Tags (you can select multiple)</label>
    <select multiple class="ui fluid search dropdown">
      <option value="">Select</option>
      {{#each activity.keywords}}
      <option value="{{@index}}" selected>{{this}}</option>
      {{/each}}
<!--       {{#each uniqueKeywords}}
      <option value="{{this}}">{{this}}</option>
      {{/each}} -->
    </select>
  </div>
</div>
<br>
  <a class="ui primary button" href="{{activity.details.url}}" target="_blank">
  Download Activity
</a>
<br>
<br>
<br>
<button class="ui primary button" id="deleteFile">
  Delete Activity
</button>
  </div>
  <div class="actions">
    <div class="ui black deny button">Cancel</div>
    <div class="ui green approve button">OK</div>
</div>
</div>
</template>
