<template name="disclaimer">
  <div class="ui container padded">
    <div class="ui grid padded">
      <div class="row">
        <div class="column">
          <h1>Disclaimer</h1>
          <p>Equal Education is a not-for-profit organisation and all items available here are intended for educational purposes only. The inclusion of third party resources in this database is believed to be within fair use. If you think any item contained here is in violation of fair use, please contact us immediately so that the offending item may be removed.</p>
        </div>
      </div>
    </div>
  </div>
</template>
