<template name="fileList">
  {{#if currentUser}}
    {{> uploadResource}}
      {{/if}}
    <br>
     <br>
    <!-- {{> searchBox }} -->
    <input type="search" id="search-box" placeholder="search files here" />

<!-- <ul>
  <li data-template="books" role="presentation" class="active"><a href="#">Books</a></li>
    <li data-template="movies" role="presentation"><a href="#">Movies</a></li>
    <li data-template="games" role="presentation"><a href="#">Games</a></li>
</ul> -->
<div class="ui secondary pointing  menu">
  <a class="item active" data-tab="all">
    All
  </a>
  <a class="item" data-tab="activities">
    EE Activities
  </a>
  <a class="item" data-tab="readings">
    Short Readings
  </a>
    <a class="item" data-tab="curriculums">
    Curriculums
  </a>
    <a class="item" data-tab="books">
    Books
  </a>
    <a class="item" data-tab="films">
    Films
  </a>
  <a class="item" data-tab="other">
    Other Resources
  </a>
</div>
 <div class="ui active tab segment" data-tab="all">
    <!-- {?{> Template.dynamic template="content" data=tabData}} -->
    {{> Template.dynamic template="content" data=tabData}}
  </div>
  <div class="ui tab segment" data-tab="activities">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
  <div class="ui tab segment" data-tab="readings">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
    <div class="ui tab segment" data-tab="curriculums">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
    <div class="ui tab segment" data-tab="books">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
    <div class="ui tab segment" data-tab="films">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
    <div class="ui tab segment" data-tab="other">
    {{> Template.dynamic template="content" data=tabData}}
  </div>
  {{> activityDetail}}
</template>


