<template name="fileList">
  {{#if currentUser}}
    <h1>Upload Files Below</h1>
    <br/>
      {{> dropzone}}
      <br/>
  <input class="your-upload-class" type="file">
  <br/><br/>
<!--   <form class="description-form">
      <input type="text" name="description" placeholder="Enter description" id="description" >
    </form> -->
    <br/>
<!--     <form class="keyword-form">
      <input type="text" name="keywords" placeholder="Enter keywords" id="keywords">
    </form> -->
    <br>
    {{> searchBox }}
    {{> searchResult}}
  {{/if}}
  {{> editFileModal}}
</template>

<template name="editFileModal">
  <div class="ui modal">
  <div class="header">
    Edit the file metadata
  </div>
  <div class="description">
    Enter decription
  <form class="description-form">
      <input type="text" name="description" placeholder="Enter description" id="description" >
    </form>
    <div class="description">
      Enter keywords
          <form class="keyword-form">
            <input type="text" name="keywords" placeholder="Enter keywords" id="keywords">
          </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui deny button">Cancel</div>
    <div class="ui approve button">OK</div>
  </div>
</div>
</template>
