<template name="searchResult">
  <div id='search-result'>
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    {{#each getFiles}}
    {{#with testLink}}
      <div class="file">
      <h4 class="name">
         <!-- {{name}} -->

          <!-- <a href="{{details.url}}" target="_blank">{{name}}</a> -->
          <a id="resourceName">{{name}}</a>
        </h4>
        {{{description}}}
<!--       <div class="description">

        </div>
        {{keywords}}
        {{type}}
        <button class="ui button" id="editKeywordButton">edit metadata</button>
        <button class="ui button" id="deleteFileButton">delete</button> -->
</div>
      {{/with}}
    {{/each}}
  </div>
</template>
