<template name="editActivity">
  <div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<div class="ui huge breadcrumb">
          <a href="/search" class="section">Search</a>
				  <i class="right chevron icon divider"></i>
				  <a href="/activity/{{this._id}}" class="section">Activity: {{this.details.title}}</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Edit</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				{{> upsert_activity this}}
			</div>
		</div>
</div>
</template>
