
<template name="edit_resource_type">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
      <div class="column">
				<div class="ui huge breadcrumb">
					<a href="/search" class="section">Search</a>
				  <i class="right chevron icon divider"></i>
					<a href="/resource/{{this._id}}" class="section">{{this.type}}: {{this.details.title}}</a>
					<i class="right chevron icon divider"></i>
					<div class="active section">Edit</div>
				</div>
			</div>
    </div>
    <div class="row">
      <div class="column">
    		{{> upsert_resource_type this}}
    	</div>
    </div>
  </div>

</template>
