<template name="detailsSection">
  <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    DETAILS
  </h4>
  <table>
    <tbody>
      <tr>
        <td class="heading">Main Topic</td>
        <td>{{item.details.mainTopic}}</td>
      </tr>
      <tr>
        <td class="heading">Sub Topic</td>
        <td>{{item.details.subTopic}}</td>
      </tr>
      <tr>
        <td class="heading">Keywords</td>
        <td>{{item.details.keywords}}</td>
      </tr>
      <tr>
        <td class="heading">Audience</td>
        <td>{{item.details.audience}}</td>
      </tr>
      <tr>
        <td class="heading">Source</td>
        <td>{{item.details.source}}</td>
      </tr>

      {{#if isEqual item.type "video"}}
        {{> viewVideoDetails item}}
      {{/if}}

      {{#if isEqual item.itemType activityEnum}}
        {{> viewActivityDetails item}}
      {{/if}}

      {{#if isEqual item.type "book"}}
        {{> viewBookDetails item}}
      {{/if}}

      {{#if isEqual item.type "icebreaker"}}
        {{> viewIcebreakerDetails item}}
      {{/if}}
    </tbody>
  </table>
</template>
