<template name="viewVideoDetails">
  <tr>
    <td class="heading">Director</td>
    <td>{{item.details.director}}</td>
  </tr>
  <tr>
    <td class="heading">Year</td>
    <td>{{item.details.year}}</td>
  </tr>
  <tr>
    <td class="heading">Duration</td>
    <td>{{item.details.duration}}</td>
  </tr>
  <tr>
    <td class="heading">video Type</td>
    <td>{{item.details.videoType}}</td>
  </tr>
  <tr>
    <td class="heading">Storage Location Online</td>
    <td>{{item.details.storageLocationOnline}}</td>
  </tr>
  <tr>
    <td class="heading">Storage Location Offline</td>
    <td>{{item.details.storageLocationOffline}}</td>
  </tr>
</template>
