<template name="uploadBook">
  <i class="close icon"></i>
  <div class="header">
  	New Book
  </div>
  <div class="content">
  	<div class="ui form">
  		<div class="grouped fields">
  			<label>What type of resource would you like to upload?</label>
  			<div class="field">
  				<div class="ui radio checkbox">
  					<input type="radio" name="details">
  					<label>Activity</label>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="actions">
  	<div id="back" class="ui black deny button">
  		Back
  	</div>
  	<div class="ui positive right labeled icon button">
  	Done
  	<i class="right arrow icon"></i>
  	</div>
  </div>
</template>
