<template name="uploadResource">
	<button id="uploadResourceButton" class="ui primary button">
  		Add New Resource
	</button>
	<!-- <button class="modal" data-modal-template="modalOne">Modal One</button>
	<button class="modal" data-modal-template="modalTwo">Modal Two</button> -->

	<div class="ui chooseType modal">
	  <i class="close icon"></i>
	  <div class="header">
	  	New Resource
	  </div>
		<div class="content">
			<form id="chooseTypeForm" class="ui form">
			  <div class="grouped fields">
			    <label>What type of resource would you like to upload?</label>
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" name="example2" value="activity">
			        <label>Activity</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="shortReading">
			        <label>Short Reading</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="curriculum">
			        <label>Curriculum</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
							<input type="radio" name="example2" value="book">
			        <label>Book</label>
			      </div>
			    </div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="example2" value="film">
							<label>Film</label>
						</div>
					</div>
					<div class="field">
						<div class="ui radio checkbox">
							<input type="radio" name="example2" value="other">
							<label>Other</label>
						</div>
					</div>
			  </div>
			</form>
		</div>
	  <div class="actions">
	    <div class="ui black deny button">
	      Cancel
	    </div>
	    <div id="next" class="ui positive right labeled icon button">
			Next
			<i class="right arrow icon"></i>
	    </div>
	  </div>
</div>

<div class="ui resourceDetails modal">
	<i class="close icon"></i>
	{{> Template.dynamic template=header}}
	<div class="content">
		<!-- <div class="content ui form"> -->
		<form id="resourceDetailsForm" class="ui form">
			{{> Template.dynamic template=content}}
		</form>
		{{> uploadFile}}
	</div>
	<div class="actions">
		<div id="back" class="ui black deny button">
			Back
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Save
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>
</template>
