<template name="connectBooks">
  <div class="field">
    <label>Books (you can select multiple)</label>
    <select multiple="" class="connectResources ui search dropdown" name="books">
      <option value="">Select</option>
      {{#each allResourcesForType "book"}}
        <option value={{_id}}>{{details.title}})</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="connectFilms">
  <div class="field">
    <label>Films (you can select multiple)</label>
    <select multiple="" class="connectResources ui search dropdown" name="films">
      <option value="">Select</option>
      {{#each allResourcesForType "film"}}
        <option value={{_id}}>{{details.title}})</option>
      {{/each}}
    </select>
  </div>
</template>
