<template name="createActivity">
<div class="ui createActivity modal">
	<i class="close icon"></i>
	{{> header_activity}}
	<div class="content">
		<!-- <div class="content ui form"> -->
		<form id="activityDetailsForm" class="ui form">
			{{> content_activity}}
		</form>
		{{> uploadFile}}
	</div>
	<div class="actions">
		<div id="back" class="ui black deny button">
			Back
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Save
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>
</template>

<template name="header_activity">
  <div class="header">
    New Activity
  </div>
</template>

<template name="content_activity">
	{{> createCommon}}
    <div class="field">
      <label>Duration</label>
			<input type="number" name="duration">
    </div>
		<div class="field">
		  <label>Method</label>
		  <select name="keywords" class="allowAdditions ui fluid search dropdown multiple">
		    <option value="">Search...</option>
		    {{#each topics}}
		      <option value="{{@index}}">{{this}}</option>
		    {{/each}}
		  </select>
		</div>
    {{> connectBooks}}
    {{> connectFilms}}
</template>
