<template name="createActivity">
<div class="ui createActivityModal modal">
	<i class="close icon"></i>
	{{> header_activity}}
	<div class="content">
		<form id="activityDetailsForm" class="ui form">
			{{> content_activity}}
		</form>
		{{> uploadGuide}}
		{{> uploadFile}}

	</div>
	<div class="actions">
		<div id="back" class="ui black deny button">
			Back
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Save
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>
</template>

<template name="header_activity">
  <div class="header">
    New Activity
  </div>
</template>

<template name="content_activity">
	{{> commonFields}}
	{{> methodField}}
  {{> connectBooks}}
  {{> connectFilms}}
</template>


<template name="uploadGuide">
	 <h1>Upload Activity Guide</h1>
    <br/>
      {{> dropzone}}
    <br/>
  	<input class="uploadGuide" type="file">
    <br/>
    <br>
</template>
