<template name="connectActivities">
  {{#each numberOfSlots}}
    {{> slot index=this}}
  {{/each}}
  <div>
    <a class="ui button primary addNewSlot">Add new slot</a>
  </div>
</template>

<template name="slot">
  <div class="field">
    <label>Slot {{index}} - Activity</label>
    <select name="slot_{{index}}" multiple="" class="noAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each allActivities}}
        <option value="{{_id}}">{{details.title}}</option>
      {{/each}}
    </select>
  </div>
</template>
