<template name="create_curriculum">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<div class="ui huge breadcrumb">
				  <a href="/create" class="section">Create</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Curriculum</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<form id="curriculumDetailsForm" class="ui form">
					{{> content_curriculum}}
					{{> uploadFile}}
					<div class="ui success message">
						<div class="header">Success</div>
						<p>Your curriculum has been created!</p>
					</div>
					<div class="ui error message">
				    <div class="header">Failed</div>
				    <p>Your curriculum is missing some information. Please check.</p>
				  </div>
					<div id="save" class="ui blue submit right labeled icon button">Save<i class="right arrow icon"></i></div>
					<a href="/create" class="ui black deny button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</template>

<!-- <template name="header_curriculum">
  <div class="header">
    New Curriculum
  </div>
</template> -->

<template name="content_curriculum">
		{{> commonFields this.details}}
    {{> connectBooks}}
    {{> connectFilms}}
</template>
