<template name="create_curriculum">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<div class="ui huge breadcrumb">
				  <a href="/create" class="section">Create</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Curriculum</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<form id="curriculumDetailsForm" class="ui form">
					{{> content_curriculum}}
				</form>
				{{> uploadFile}}
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div id="back" class="ui black deny button">
					Back
				</div>
				<div id="save" class="ui positive right labeled icon button">
					Save
				<i class="right arrow icon"></i>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="header_curriculum">
  <div class="header">
    New Curriculum
  </div>
</template>

<template name="content_curriculum">
		{{> commonFields}}
    {{> connectBooks}}
    {{> connectFilms}}
</template>
