<template name="viewResource">
    <tr>
      <td class ="heading">Download Resource</td>
      <td>
        {{#with file item.fileIDs item.details.title}}
        <a class="ui icon" href="{{this.url}}" target="_blank">
          View Online
        <i class="cloud download icon"></i>
      </a>
        {{/with}}
    </td>
  </tr>
  <tr>
    <td colspan="2" ><center><b>Associated Activities</b></center></td>
  </tr>
  {{#with associatedActivities item._id}}
    {{#each this}}
    <tr>
      {{#with pathName "Activity"}}
      <td colspan="2" ><center>        <a id="downloadGuide" href="{{pathFor route=this _id=../_id}}"  target="_blank">
        {{../details.title}}
      </a></center></td>{{/with}}
    </tr>
    {{/each}}
  {{/with}}
</template>
