<template name="commonFields">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title">
  </div>
  <div class="field">
    <label>Main Topic</label>
    <select name="mainTopic" id="mainTopic" class="commonFields noAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each getOptions "mainTopics"}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
</div>
  <div class="field">
    <label>Sub Topic</label>
    <select name="subTopic" id="subTopic" class="commonFields noAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each getSubOptions "mainTopic"}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
<div class="field">
  <label>Keywords</label>
  <select name="keywords" multiple="" class="commonFields allowAdditions ui dropdown search multiple">
    <option value="">Search...</option>
    {{#each getOptions "keywords"}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea rows="2" name="description"></textarea>
  </div>
  <div class="grouped fields">
    <label>Complexity</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Easy">
        <label>Easy</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Medium">
        <label>Medium</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="complexity" value="Hard">
        <label>Hard</label>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Source</label>
    <select name="source" multiple="" class="commonFields allowAdditions ui dropdown search">
      <option value="">Search...</option>
      {{#each getOptions "source"}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    </div>
  <div class="field" {{hideIfVideo}}>
    <label>Link</label>
    <input type="text" name="link">
  </div>
</template>

<template name="durationField">
  <div class="field">
    <label>Duration</label>
    <input type="number" name="duration">
  </div>
</template>

<template name="lengthField">
  <div class="field">
    <label>Length</label>
    <input type="number" name="length">
  </div>
</template>

<template name="methodField">
  <div class="field">
    <label>Method</label>
    <select name="method" multiple="" class="commonFields allowAdditions ui fluid search dropdown multiple">
      <option value="">Search...</option>
      {{#each getOptions "methods"}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="materialsField">
  <div class="grouped fields">
    <label>Are materials needed?</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="materialsNeeded" value="Yes">
        <label>Yes</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="materialsNeeded" value="No">
        <label>No</label>
      </div>
    </div>
  </div>
</template>
