<template name="detailsSection">

  <div class="row">
    <div class="three wide column">
      <p class="text-muted">Details</p>
    </div>
    <div class="thirteen wide column">
      <table>
        <tbody>
          <tr>
            <td class="heading">Main Topic:</td>
            <td class="detail">{{item.details.mainTopic}}</td>
          </tr>
          <tr>
            <td class="heading">Sub Topic:</td>
            <td class="detail">{{item.details.subTopic}}</td>
          </tr>
          <tr>
            <td class="heading">Keywords:</td>
            <td class="detail">{{listView item.details.keywords}}</td>
          </tr>
          <tr>
            <td class="heading">Complexity:</td>
            <td class="detail">{{item.details.complexity}}</td>
          </tr>
          <tr>
            <td class="heading">Source:</td>
            <td class="detail">{{item.details.source}}</td>
          </tr>

          {{#if isEqual item.type "video"}}
            {{> viewVideoDetails item=item}}
          {{/if}}

          {{#if isEqual item.itemType activityEnum}}
            {{> viewActivityDetails item=item}}
          {{/if}}

          {{#if isEqual item.type "book"}}
            {{> viewBookDetails item=item}}
          {{/if}}

          {{#if isEqual item.type "icebreaker"}}
            {{> viewIcebreakerDetails item=item}}
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</template>
