<template name="detailsSection">

  <div class="row">
    <div class="three wide column">
      <p class="text-muted">Details</p>
    </div>
    <div class="thirteen wide column">
      <table class="top aligned">
        <tbody>
          <tr>
            <td class="heading top aligned">Main Topic:</td>
            <td class="detail">{{item.details.mainTopic}}</td>
          </tr>
          <tr>
            <td class="heading top aligned">Sub Topic:</td>
            <td class="detail">{{item.details.subTopic}}</td>
          </tr>
          <tr>
            <td class="heading top aligned">Source:</td>
            <td class="detail">{{item.details.source}}</td>
          </tr>

          {{#if isEqual item.type "video"}}
            {{> viewVideoDetails item=item}}
          {{else}}
            <tr>
              <td class="heading top aligned">Link:</td>
              <td class="detail"><a href="\\{{item.details.link}}">{{item.details.link}}</a></td>
            </tr>
          {{/if}}


          {{#if isEqual item.itemType activityEnum}}
            {{> viewActivityDetails item=item}}
          {{/if}}

          {{#if isEqual item.type "book"}}
            {{> viewBookDetails item=item}}
          {{/if}}

          {{#if isEqual item.type "icebreaker"}}
            {{> viewIcebreakerDetails item=item}}
          {{/if}}

          <tr>
            <td class="heading top aligned">Keywords:</td>
            <td class="detail">
              <div class="ui tag labels">
              {{#each item.details.keywords}}
                  <a href="#" class="ui label">{{this}}</a>
              {{/each}}
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{#if isEqual item.type "video"}}
  <div class="row">
    <div class="three wide column">
      <p class="text-muted">Online Videos</p>
    </div>
    <div class="thirteen wide column">
      <table>
        <tbody>
            {{> viewOnlineVideoLocations videos=item.online_videos}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="three wide column">
      <p class="text-muted">Offline Videos</p>
    </div>
    <div class="thirteen wide column">
      <table>
        <tbody>
            {{> viewOfflineVideoLocations videos=item.offline_videos}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}
</template>
