<template name="viewVideoDetails">
  <tr>
    <td class="heading">Year:</td>
    <td class="detail">{{item.details.year}}</td>
  </tr>
  {{#if isEqual item.details.duration ""}}
  <tr>
    <td class="heading">Duration:</td>
    <td class="detail"></td>
  </tr>
  {{else}}
  <tr>
    <td class="heading">Duration:</td>
    <td class="detail">{{item.details.duration}} minutes</td>
  </tr>
  {{/if}}
  <tr>
    <td class="heading">Video Type:</td>
    <td class="detail">{{listView item.details.videoType}}</td>
  </tr>
</template>

<template name="viewOfflineVideoLocations">
  {{#each videos}}
    {{#unless isEqual this.location ""}}
      <tr>
        <td class="heading">{{this.name}}:</td>
        <td class="detail">{{this.location}}</td>
      </tr>
    {{/unless}}
  {{/each}}
</template>

<template name="viewOnlineVideoLocations">
  {{#each videos}}
    {{#unless isEqual this.location ""}}
    <tr>
      <td class="heading">{{this.name}}</td>
      <td class="detail"><a href="//{{this.location}}">View<i class="cloud arrow right icon"></i></a></td>
    </tr>
    {{/unless}}
  {{/each}}
</template>
