<template name="viewVideoDetails">
  <tr>
    <td class="heading">Year:</td>
    <td class="detail">{{item.details.year}}</td>
  </tr>
  <tr>
    <td class="heading">Duration:</td>
    <td class="detail">{{item.details.duration}}</td>
  </tr>
  <tr>
    <td class="heading">Video Type:</td>
    <td class="detail">{{item.details.videoType}}</td>
  </tr>
  <tr>
    <td class="heading">Storage Location Online:</td>
    <td class="detail"><a href="{{item.details.storageLocationOnline}}" target="_blank">{{item.details.storageLocationOnline}}</a></td>
  </tr>
  <tr>
    <td class="heading">Storage Location Offline:</td>
    <td class="detail">{{item.details.storageLocationOffline}}</td>
  </tr>
</template>
