<template name="viewVideoDetails">
  <tr>
    <td class="heading">Year:</td>
    <td class="detail">{{item.details.year}}</td>
  </tr>
  <tr>
    <td class="heading">Duration:</td>
    <td class="detail">{{item.details.duration}}</td>
  </tr>
  <tr>
    <td class="heading">Video Type:</td>
    <td class="detail">{{listView item.details.videoType}}</td>
  </tr>
</template>

<template name="viewOfflineVideoLocations">
  {{#each videos}}
    <tr>
      <td class="heading">{{this.name}}:</td>
      <td class="detail">{{this.location}}</td>
    </tr>
  {{/each}}
</template>

<template name="viewOnlineVideoLocations">
  {{#each videos}}
    <tr>
      <td class="heading">{{this.name}}</td>
      <td class="detail"><a href="//{{this.location}}">View<i class="cloud arrow right icon"></i></a></td>
    </tr>
  {{/each}}
</template>
