<template name="header_curriculum">
  <div class="header">
    New Curriculum
  </div>
</template>

<template name="content_curriculum">
  <div class="field">
      <label>Title</label>
      <input type="text" name="title">
    </div>
    <div class="field">
      <label>Keywords</label>
      <textarea rows="2" name="keywords"></textarea>
    </div>
    <div class="field">
      <label>Description</label>
      <textarea rows="2" name="description"></textarea>
    </div>
    <div class="field">
      <label>Audience</label>
      <textarea rows="2" name="audience"></textarea>
    </div>
    {{> connectBooks}}
    {{> connectFilms}}
</template>
