<template name="uploadFilm">
  <i class="close icon"></i>
  <div class="header">
  	New Film
  </div>
  <div class="content">
  	<div class="ui form">
  		<div class="grouped fields">
  			<label>What type of resource would you like to upload?</label>
  			<div class="field">
  				<div class="ui radio checkbox">
  					<input type="radio" name="details">
  					<label>Activity</label>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="actions">
  	<div id="back" class="ui black deny button">
  		Back
  	</div>
  	<div class="ui positive right labeled icon button">
  	Done
  	<i class="right arrow icon"></i>
  	</div>
  </div>
</template>

<template name="connectFilms">
  <div class="field">
    <label>Films (you can select multiple)</label>
    <select multiple="" class="ui dropdown">
      <option value="">Select</option>
      <option value="AF">Totsi (2005)</option>
      <option value="AX">District 9 (2009)</option>
      <option value="AL">Blood Diamond (2006)</option>
      <option value="DZ">Invictus (2009)</option>
    </select>
  </div>
</template>
