<template name="header_book">
  <div class="header">
    New Book
  </div>
</template>

<!-- Title
Key Words
Description
Duration
Length
Method
Audience
Source
Film Type
Associated Resources -->

<template name="content_book">
      <div class="field">
          <label>Title</label>
          <input type="text" name="title">
        </div>
        <div class="field">
          <label>Description</label>
          <textarea rows="2" name="description"></textarea>
        </div>
        <div class="field">
          <label>Keywords</label>
          <textarea rows="2" name="keywords"></textarea>
        </div>
        <div class="field">
          <label>Length</label>
          <textarea rows="2" name="length"></textarea>
        </div>
        <div class="field">
          <label>Audience</label>
          <textarea rows="2" name="audience"></textarea>
        </div>
        <div class="field">
          <label>Source</label>
          <textarea rows="2" name="source"></textarea>
        </div>
        {{> connectBooks}}
        {{> connectFilms}}
  </template>


<template name="connectBooks">
  <div class="field">
    <label>Books (you can select multiple)</label>
    <select multiple="" class="ui search dropdown" name="books">
      <option value="">Select</option>
      <option value="AF">Long walk to Freedom - Nelson Mandela (1995)</option>
      <option value="AX">Cry the Beloved Country - Alan Paton (1948)</option>
      <option value="AL">Disgrace - J.M Coetzee (1999)</option>
    </select>
  </div>
</template>
