<template name="header_film">
  <div class="header">
    New Film
  </div>
</template>

<template name="content_film">
  		<div class="grouped fields">
  			<label>What type of resource would you like to upload?</label>
  			<div class="field">
  				<div class="ui radio checkbox">
  					<input type="radio" name="details">
  					<label>Activity</label>
  				</div>
  			</div>
  		</div>
</template>

<template name="connectFilms">
  <div class="field">
    <label>Films (you can select multiple)</label>
    <select multiple="" class="ui search dropdown">
      <option value="">Select</option>
      <option value="AF">Totsi (2005)</option>
      <option value="AX">District 9 (2009)</option>
      <option value="AL">Blood Diamond (2006)</option>
      <option value="DZ">Invictus (2009)</option>
    </select>
  </div>
</template>
