<template name="header_book">
  <div class="header">
    New Book
  </div>
</template>
<template name="content_book">
  		<div class="grouped fields">
  			<label>What type of resource would you like to upload?</label>
  			<div class="field">
  				<div class="ui radio checkbox">
  					<input type="radio" name="details">
  					<label>Activity</label>
  				</div>
  			</div>
  		</div>
</template>

<template name="connectBooks">
  <div class="field">
    <label>Books (you can select multiple)</label>
    <select multiple="" class="ui search dropdown">
      <option value="">Select</option>
      <option value="AF">Long walk to Freedom - Nelson Mandela (1995)</option>
      <option value="AX">Cry the Beloved Country - Alan Paton (1948)</option>
      <option value="AL">Disgrace - J.M Coetzee (1999)</option>
    </select>
  </div>
</template>
