<template name="editActivity">
  <div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<div class="ui huge breadcrumb">
				  <a href="/create" class="section">Edit</a>
				  <i class="right chevron icon divider"></i>
				  <div class="active section">Activity: {{this.details.title}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<form id="activityDetailsForm" class="ui form">
					{{> content_activity this}}
				</form>
				{{> uploadGuide}}
				{{> uploadFile}}
			</div>
		</div>
	<div class="row">
		<div id="back" class="ui black deny button">
			Cancel
		</div>
		<div id="save" class="ui positive right labeled icon button">
			Update
		<i class="right arrow icon"></i>
		</div>
	</div>
</div>
</template>
