
<template name="edit_resource_type">
  <div class="ui equal width aligned padded grid fluid">
    <div class="row">
      <div class="column">
        <h1>Edit {{this.type}}: {{this.details.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="column">
    		<form id="resourceDetailsForm" class="ui form">
          {{> commonFields this.details}}
    			{{> Template.dynamic template=content data=this}}
          {{> uploadFile}}
          <div id="save" class="ui blue submit right labeled icon button">Save<i class="right arrow icon"></i></div>
					<div id="back" class="ui black deny button">Cancel</div>
    		</form>
    	</div>
    </div>
  </div>
</template>
