<template name="editCurriculum">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
        <h1>Edit Curriculum: {{this.details.title}}</h1>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<form id="curriculumDetailsForm" class="ui form">
					{{> content_curriculum this}}
				</form>
				{{> uploadFile}}
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div id="back" class="ui black deny button">
					Back
				</div>
				<div id="save" class="ui positive right labeled icon button">
					Save
				<i class="right arrow icon"></i>
				</div>
			</div>
		</div>
	</div>
</template>
