<template name="editCurriculum">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<div class="ui huge breadcrumb">
					<a href="/search" class="section">Search</a>
				  <i class="right chevron icon divider"></i>
					<a href="/curriculum/{{this._id}}" class="section">Curriculum: {{this.details.title}}</a>
					<i class="right chevron icon divider"></i>
					<div class="active section">Edit</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<form id="curriculumDetailsForm" class="ui form">
					{{> content_curriculum this}}
					{{> uploadFile}}
					<div id="save" class="ui blue submit right labeled icon button">Save<i class="right arrow icon"></i></div>
					<a href="/curriculum/{{this._id}}" class="ui black deny button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</template>
