<template name="commonFields">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title">
  </div>
  <div class="field">
    <label>Main Topic</label>
    <select name="topic" class="allowAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each topics}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
</div>
<div class="field">
  <label>Sub Topic</label>
  <select name="subtopic" class="allowAdditions ui fluid search dropdown">
    <option value="">Search...</option>
    {{#each subTopics}}
      <option value="{{@index}}">{{this}}</option>
    {{/each}}
  </select>
</div>
<div class="field">
  <label>Keywords</label>
  <select name="keywords" class="allowAdditions ui fluid search dropdown multiple">
    <option value="">Search...</option>
    {{#each keywords}}
      <option value="{{@index}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea rows="2" name="description"></textarea>
  </div>
  <div class="field">
    <label>Audience</label>
    <select name="audience" class="allowAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each audiences}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="field">
    <label>Source</label>
    <textarea rows="2" name="source"></textarea>
  </div>
</template>

<template name="durationField">
  <div class="field">
    <label>Duration</label>
    <input type="number" name="duration">
  </div>
</template>

<template name="lengthField">
  <div class="field">
    <label>Length</label>
    <input type="number" name="length">
  </div>
</template>

<template name="methodField">
  <div class="field">
    <label>Method</label>
    <select name="method" class="allowAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each methods}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</template>
