<template name="commonFields">
  <div class="field">
    <label>Title</label>
    <input type="text" name="title" value={{this.title}}>
  </div>
  <div class="field">
    <label>Main Topic</label>
    <select id="mainTopic" name="mainTopic" class="commonFields noAdditions ui fluid search dropdown">
      <option value="">Search...</option>
      {{#each topics}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
</div>
<div class="field">
  <label>Sub Topic</label>
  <select id="subTopic" name="subTopic" class="commonFields allowAdditions ui fluid search dropdown">
    <option value="">Search...</option>
    {{#each subTopics}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
</div>
<div class="field">
  <label>Keywords</label>
  <select id="keywords" name="keywords" multiple="" class="commonFields allowAdditions ui dropdown search multiple">
    <option value="">Search...</option>
    {{#each keywords}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  <div class="field">
    <label>Description</label>
    <textarea rows="2" name="description" value={{this.description}}></textarea>
  </div>
  <div class="field">
    <label>Audience</label>
    <select id="audience" name="audience" multiple="" class="commonFields noAdditions ui fluid search dropdown multiple">
      <option value="">Search...</option>
      {{#each audiences}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="field">
    <label>Source</label>
    <textarea rows="2" name="source" value="{{this.source}}"></textarea>
  </div>
</template>

<template name="durationField">
  <div class="field">
    <label>Duration</label>
    <input type="number" name="duration">
  </div>
</template>

<template name="lengthField">
  <div class="field">
    <label>Length</label>
    <input type="number" name="length">
  </div>
</template>

<template name="methodField">
  <div class="field">
    <label>Method</label>
    <select name="method" multiple="" class="commonFields allowAdditions ui fluid search dropdown multiple">
      <option value="">Search...</option>
      {{#each methods}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</template>

<template name="materialsField">
  <div class="field">
    <label>Materials Needed</label>
    <select name="materialsNeeded" multiple="" class="commonFields allowAdditions ui fluid search dropdown multiple">
      <option value="">Search...</option>
      {{#each materialsNeeded}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
</template>
