<template name="create">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<h1 class="ui header">Create New Training Material</h1>
			</div>
		</div>
	</div>
	<div class="feature alternate ui stripe vertical segment">
		<div class="ui three column center aligned divided relaxed stackable grid container">
	    <div class="row">
	      <div class="column">
	        <h2 class="ui icon header">
						<i class="paint brush icon"></i>
						{{totalNumberOfItems "Activity"}}
	        </h2>
	        <p></p>
					<a href="/create/activity" class="ui primary large button">Add New Activity</a>
	      </div>
	      <div class="column">
	        <h2 class="ui icon header">
						<i class="film icon"></i>
						{{totalNumberOfItems "Resource"}}
	        </h2>
	        <p></p>
					<a href="/create/resource" class="ui primary large button">Add New Resource</a>
	      </div>
	      <div class="column">
	        <h2 class="ui icon header">
						<i class="calendar icon"></i>
						{{totalNumberOfItems "Curriculum"}}
	        </h2>
	        <p></p>
	        <a href="/create/curriculum" class="ui primary large button">Add New Curriculum</a>
	      </div>
	    </div>
	  </div>
	</div>
</template>
