<template name="create">
	<div class="ui equal width aligned padded grid fluid">
		<div class="row">
			<div class="column">
				<h1 class="ui header">Create New Training Material</h1>
			</div>
		</div>
	</div>
	<div class="ui center aligned one column grid">
	  <div class="row">
	    <div class="column">
				<button class="massive ui button" id="createCurriculumButton">
					<h2 class="ui header">
					  <i class="large icons">
					    <i class="calendar icon"></i>
					    <i class="inverted corner add icon"></i>
					  </i>
							Create Curriculum
						</h2>
				</button>
	    </div>
	  </div>
		<div class="row">
	    <div class="column">
				<button class="massive ui button" id="createActivityButton">
					<h2 class="ui header">
					  <i class="large icons">
					    <i class="paint brush icon"></i>
					    <i class="inverted corner add icon"></i>
					  </i>
							Create Activity
						</h2>
				</button>
	    </div>
	  </div>
		<div class="row">
			<div class="column">
				<button class="massive ui button" id="createResourceButton">
					<h2 class="ui header">
						<i class="large icons">
							<i class="film icon"></i>
							<i class="inverted corner add icon"></i>
						</i>
							Create Resource
						</h2>
				</button>
			</div>
		</div>
	</div>

	{{> createCurriculum}}
	{{> createActivity}}
	{{> createResource}}
</template>
